* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Roboto, sans-serif;
}

.page__title {
  display: none;
}

.cards {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  column-gap: 75px;
}

.card {
  max-width: 245px;
  display: flex;
  flex-direction: column;
}

.card__text {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
}

.card__title {
  align-self: center;
  padding: 31px 0 31px 11px;
  max-width: 122px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  background-color: #d9d9d9;
  color: #212121;
  position: relative;
}

.card__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 11px;
  width: 33px;
  border-top: 4px solid #212121;
}

.card__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 16px;
  left: 11px;
  width: 33px;
  border-bottom: 4px solid #212121;
}

.card__description {
  margin-top: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.015em;
  color: #737373;
}